img{
	
}
footer{
	position:fixed;
	bottom:0%;
	left:0%;
	height:6%;
	width:100%;
	background:#f1f1f1;
	border-top: 1px solid #d2d2d2;

}
header{
	float:right;
	color:  #2d2d2d;
	font-family: arial,sans-serif;
	font-size: 0.8em;
}
.center > img{
	position:fixed;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center > textarea{
	width:45%;
	height:35px;
	position:fixed;
	top: 53%;
	left: 51%;
	transform: translate(-50%, -50%);
}
.center > button{
	width:10%;
	height:35px;
	position:fixed;
	top: 60%;
	background:#f1f1f1;
	border: 0px solid #d2d2d2;
	color: #4d4d4d;
}
.button1{
	left: 39%;
}
.button2{
	left: 51%;
}
.l_footer, .r_footer{
	position:absolute;
	font-size: 0.8em;
	top:25%;
	color: gray;
	font-family: arial,sans-serif;

}
.l_footer{
	left:2%;
	float:left;
}
.r_footer{
	float:right;
	right:2%;
	/*text-align:right;*/
}
.l_footer > a,.r_footer > a{
	margin-right:2em;
}
.r_footer